* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
  font-size: 0;
  -webkit-text-size-adjust: none;
  &#line {
    display: inline-block;
    width: 676px;
    height: 600px;
    border: 1px solid steelblue;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 2rem 4rem;
  }

  &#header {
    border-bottom: 1px solid #d9dee1;
    height: 22.5px;
    background-color: #edf2f5;
    border-top-right-radius: 6px;
  }

  &#left {
    width: 270.5px;
    height: calc(100% - 22.5px);
    border-right: 1px solid #d9dee0;
    display: inline-flex;
    vertical-align: top;

    #search {
      height: 40.5px;
      width: 100%;
      line-height: 40.5px;
      border-bottom: 1px solid #e3e7ed;
      color: #b2b5c0;
      font-size: 15px;
      display: inline-block;

      span {
        &.icon-search {
          margin-left: 0.6rem;
        }

        &.right {
          float: right;
          position: relative;
          top: 0.5px;
          margin: 0 2px;
        }

        &.icon-caret-down {
          margin-right: 0.5rem;
        }
      }

      .chevron-left {
        float: right;
        border-width: 1px;
        border-color: #e8ecef;
        border-style: solid none solid solid;
        height: calc(40.5px / 1.5);
        width: 1rem;
        text-align: center;
        position: relative;
        top: calc((40.5px - (40.5px / 1.5)) / 2);
        line-height: calc(40px / 1.5);

        span {
          &.icon-chevron-left {
            font-size: 0.5rem;
          }
        }
      }
    }
  }

  &#right {
    font-size: 2rem;
    display: inline-flex;
    width: calc(100% - 270.5px);
    height: calc(100% - 22.5px);
    text-align: center;

    div {
      img {
        width: 100px;
        height: 99px;
      }

      &.img {
          width: 100%;
          margin: auto;
      }
    }
  }
}
